/*
main: #7FBDDB
secondary: #19252B

complementary: #db632a
complementary2: #db4802

*/
html {
    height: 100%;
}

body{
    height: 100%;
    padding-top: 51px;
    padding-bottom: 120px;

    font-family: 'Roboto', sans-serif;
}

article {
    min-height: 100%;
    margin-bottom: 60px;
}

footer{
    padding: 20px 0px 20px 0px;

    color: #ffffff;
    background-color: #00074b;
}
footer p{
    margin: 0;
}

.index {
    text-align: center;
}

.index>img {
    margin-top:20px;
    max-width: 100%;
}