/*
main: #7FBDDB
secondary: #19252B

complementary: #db632a
complementary2: #db4802

*/

body{
    padding-top: 50px;

    text-align: center;

    font-family: 'dejavu_serifbook';
}
h1{
    font-family: 'cabinmedium';
}
h2{
    font-family: 'cabinregular';
}
h3{
    font-family: 'cabinregular';
}
.jumbotron h1{
    font-family: 'Amadeus';
    font-size: 70px;
}
.jumbotron h2{
    font-family: 'cabinmedium';
}
.navbar-brand{
    font-family: 'Amadeus';
}

.navbar-brand{
    color: black;
}

@media (min-width: 768px){
    body{
        padding-top: 100px;
    }
}
@media (min-width: 991px){
    body{
        padding-top: 50px;
    }
}

footer{
    background-color: #eee;
    padding: 20px 0px 20px 0px;
    margin-top: 50px;
}

.fb-like{
    margin-top: 20px;
}

.icon{
    width: 20px;
    height: 20px;
}

.iconjumbotron{
    width: 144px;
    height: 144px;
}

.stdimg{
    width: 600px;
    max-width: 100%;
    max-height: 100%;
}
.bigimg{
    width: 800px;
    max-width: 100%;
    max-height: 100%;
}

.stdimgheight{
    height: 500px;
    max-width: 100%;
    max-height: 100%;
}

.previewimg{
    width: 360px;
    height: 130px;
    max-width: 100%;
    max-height: 100%;
}

.previewIcon{
    width: 80px;
}

.line-splitter{
    margin-top: 60px;
    margin-bottom: 60px;
}

.full_width{
    width: 100%;
}

.container-full {
  margin: 0 auto;
  width: 100%;
}

.jumbotron{
    background-image: url("/assets/images/jumbotron-main.png");
    background-position: center;
    background-size: cover;
    margin-bottom: 100px;
    color: white;

}

.link_image{
    width: 65%;
    height: 65%;

    margin-top: 50px;
}
.link_image_container{
    width: 300px;
    height: 300px;

    margin:auto;

    background-color: #7FBDDB;
    border-radius:50%;
}

.profilimage{
    border: 5px solid #7FBDDB;
}

#banner-home{
    /*margin-top:70px;*/
    margin:auto;
    line-height: 1.4;
}

@media (min-width: 768px){
    #banner-home h2{
        font-size: 40px;
    }
    #banner-home p{
        font-size: 21px;
    }
}
@media (min-width: 768px){
    footer div{
        max-width: 700px;
    }
}

#gallery_dynamic_text_container{
    background-color: #7FBDDB;
}

.red_star{
    display: inline;
    color: red;
}
