<div id="jumbotron-unterricht" class="jumbotron">
    <div>
        <h2>Gitarrenunterricht</h2>
    </div>
</div>

<div>
    <div class="row center-text unterricht-schwerpunkte">
        <div class="col-md-4">
            <img class="previewIcon" src="assets\images\schwerpunkte\gitarrenunterricht-klassische-gitarre.svg">
            <div><h3>Klassische Gitarre</h3></div>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_klassischeGitarre" onclick="_paq.push(['trackEvent', 'Modal', 'Klassische Gitarre']);">Mehr erfahren</button>
        </div>
        <div class="col-md-4">
            <img class="previewIcon" src="assets\images\schwerpunkte\gitarrenunterricht-fingerstyle-gitarre.svg">
            <div><h3>Fingerstyle</h3></div>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_fingerstyle" onclick="_paq.push(['trackEvent', 'Modal', 'Fingerstyle']);">Mehr erfahren</button>
        </div>
        <div class="col-md-4">
            <img class="previewIcon" src="assets\images\schwerpunkte\gitarrenunterricht-liedbegleitung.svg">
            <div><h3>Liedbegleitung</h3></div>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_liedbegleitung" onclick="_paq.push(['trackEvent', 'Modal', 'Liedbegleitung']);">Mehr erfahren</button>
        </div>
        
    </div>

    <br>
    <br>
    <br>
    <br>

    <div class="row">
        <div class="col-md-6">
            <div class="panel-group" id="accordion_gitarrenunterricht" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#_collapseOne" aria-expanded="true" aria-controls="_collapseOne" onclick="_paq.push(['trackEvent', 'Gitarrenunterricht für Kinder', 'Klick']);">
                        <b>Gitarrenunterricht für Kinder: (Zum Öffnen klicken)</b>
                      </a>
                    </h4>
                  </div>
                  <div id="_collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        Ich gebe Gitarrenunterricht für Kinder ab dem Schuleintrittsalter. Mit Hilfe einer "Gitarrenschule" werden sie an das Lesen und Umsetzen von Noten herangeführt.
                        Eine Lehrerbegleitung lockert den Unterricht auf. So wird zusammen gespielt und gesungen.
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#_collapseTwo" aria-expanded="false" aria-controls="_collapseTwo" onclick="_paq.push(['trackEvent', 'Gitarrenunterricht für Jugendliche und Erwachsene', 'Klick']);">
                        <b>Gitarrenunterricht für Jugendliche und Erwachsene: (Zum Öffnen klicken)</b>
                      </a>
                    </h4>
                  </div>
                  <div id="_collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        Der Unterricht ist schülerzentriert. In einem Vorgespräch versuche ich etwas über die musikalischen Vorlieben und Neigungen des Schülers zu erfahren, um entsprechendes Unterrichtsmaterial anzubieten.
                        Bei Anfängern geht es darum "Basics" zu erlernen. Eine gute Spielechnik ist u.a. Voraussetzung, sich in den verschiedenen Musikstilen zurechtzufinden und auszudrücken. Zum Start bieten sich meistens zwei Möglichkeiten an: Liedbegleitung nach Akkorden, oder Melodiespiel nach Noten.
                        Bei fortgeschrittenen Spielern stimme ich den Unterricht noch stärker auf die individuellen Fähigkeiten und Bedürfnisse ab.
                        Musiktheorie lasse ich in den Unterricht "einfließen".<br><br>
                        
                        Der Gitarrenunterricht ist von der Kulturbehörde als Berufs- bzw. Prüfungsvorbereitend anerkannt.
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="col-md-6">       
            <div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
                <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                    <a href="./assets\images\unterricht\gitarrenlehrer-spielt-gitarre-im-gitarrenunterricht_m.jpg" itemprop="contentUrl" data-size="1920x1187">
                        <img src="./assets\images\unterricht\gitarrenlehrer-spielt-gitarre-im-gitarrenunterricht.jpg" itemprop="thumbnail" alt="Bernhard Welling gibt Gitarrenunterricht" />
                    </a>
                </figure>
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>
</div>
