<div id="jumbotron-unterricht" class="jumbotron">
    <div class="container">
        <h1>Gitarrenunterricht</h1>
        <!--<h2>Professionelle Ausbildung für Anfänger und Fortgeschrittene</h2>-->
    </div>
</div>

<div class="container text-left">
    <div class="row">
        <div class="col-md-6">
            <br>
            <h2>Klassische Gitarre, Fingerstyle, Liedbegleitung, Rock, Pop</h2><br>
            <p><b>Gitarrenunterricht für Kinder:</b><br>

                Ich gebe Gitarrenunterricht für Kinder ab dem Schuleintrittsalter. Mit Hilfe einer "Gitarrenschule" werden sie an das Lesen und Umsetzen von Noten herangeführt.
                Eine Lehrerbegleitung lockert den Unterricht auf. So wird zusammen gespielt und gesungen.<br><br>
                
                
                <b>Gitarrenunterricht für Jugendliche und Erwachsene:</b><br>
                
                Der Unterricht ist schülerzentiert. In einem Vorgespräch versuche ich etwas über die musikalischen Vorlieben und Neigungen des Schülers zu erfahren, um entsprechendes Unterrichtsmaterial anzubieten.
                Bei Anfängern geht es darum "Basics" zu erlernen. Eine gute Technik ist u.a. Voraussetzung, sich in den verschiedenen Musikstilen zurechtzufinden und auszudrücken. Zum Start bieten sich meistens zwei Möglichkeiten an: Liedbegleitung nach Akkorden, oder Melodiespiel nach Noten.
                Bei fortgeschrittenen Spielern stimme ich den Unterricht noch stärker auf die individuellen Fähigkeiten und Bedürfnisse ab.
                Musiktheorie lasse ich in den Unterricht "einfließen".<br><br>
                
                Der Gitarrenunterricht ist von der Kulturbehörde als Berufs- bzw. Prüfungsvorbereitend anerkannt.</p>
        </div>
        <div class="col-md-6">
            <img class="full_width" src="assets/images/gallery_main/1.png">
        </div>
    </div>
</div>
