<div id="jumbotron-kontakt" class="jumbotron">
  <div>
      <h2>Kontakt</h2>
  </div>
</div>

<div class="kontakt-container">
  <div class="row">
    <h3>Kontaktdaten - Jetzt unverbindlichen Termin sichern</h3>
    <hr>
    <div class="icon-row-container contact_options">
      <div class="row margin-top-elements-in-row ">
          <div class="col-md-4">
            <img class="previewIcon" src="assets\images\Gitarrenlehrer_Kontakt_Telefon.svg">
              <h3>Rufen Sie gerne an ...</h3>
              <div class="tag_tel"></div>
          </div>
          <div class="col-md-4">
            <img class="previewIcon" src="assets\images\Gitarrenlehrer_Kontakt_E-Mail.svg">
            <h3>... schreiben Sie eine Email ...</h3>
            <div class="tag_mailto"></div>
          </div>
          <div class="col-md-4">
              <img class="previewIcon" alt="contact" src="assets\images\Gitarrenlehrer_Kontakt_Besuch.svg">
              <h3>... oder kommen Sie vorbei</h3>
              <p>
                  Bernhard Welling<br>
                  Sillemstraße 40<br>
                  20257 Hamburg<br>
                </p>
            </div>
      </div>
  </div>
    <p></p><!--Intended as spacer-->
    
  </div>

  <br>
  <br>
  <br>
  <br>
  
  <h3>Karte</h3>
  <hr>
  <div style='overflow:hidden;height:476px;width:636px;max-height:100%;max-width:100%;margin: auto;'>
    <div id='gmapsElement' style='height:100%;width:100%;'></div>
    <style>#gmap_canvas img{max-width:none!important;background:none!important}</style>
  </div>

</div>
