<div id="jumbotron-kosten" class="jumbotron">
  <div>
      <h2>Kosten</h2>
  </div>
</div>

<div class="icon-row-container">
    <div class="row margin-top-elements-in-row ">
        <div class="col-md-4">
            <img class="previewIcon" src="assets/images/kosten_probezeit.svg">
            <h3>Unverbindlicher Kennenlerntermin</h3>
        </div>
        <div class="col-md-4">
            <img class="previewIcon" src="assets/images/kosten_ferien.svg">
            <h3>4- bis 6-wöchige Probephase</h3>
        </div>
        <div class="col-md-4">
            <img class="previewIcon" src="assets/images/kosten_bindung.svg">
            <h3>Keine Mindestvertragslaufzeit</h3>
        </div>
    </div>
</div>

<hr class="line-splitter">

<div>
    <table class="table table-bordered">
        <tr>
            <th>Art</th>
            <th>Dauer</th>
            <th>Preis</th>
        </tr>
        <tr>
            <td>Einzelunterricht</td>
            <td>30 Min./Woche</td>
            <td>19,00 Euro/30 Min. entspricht 62 Euro/mtl.</td>
        </tr>
        <tr>
            <td></td>
            <td>45 Min./Woche</td>
            <td>27,50 Euro/45 Min. entspricht 90 Euro/mtl.</td>
        </tr>
        <tr>
            <td>2er Gruppe</td>
            <td>45 Min./Woche</td>
            <td>18,00 Euro/45 Min. entspricht 59 Euro/mtl. pro Pers.</td>
        </tr>
        <tr>
            <td>3er Gruppe</td>
            <td>60 Min./Woche</td>
            <td>16,00 Euro/60 Min. entspricht 52 Euro/mtl. pro Pers.</td>
        </tr>
    </table>
</div>

<div>
    <div class="panel-group" id="accordion_kosten" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#_collapsePriceDetails" aria-expanded="true" aria-controls="_collapsePriceDetails" onclick="_paq.push(['trackEvent', 'Kosten Details', 'Klick']);">
                        <b>Details (Zum öffnen klicken)</b>
                    </a>
                </h4>
            </div>
            <div id="_collapsePriceDetails" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <div class="text-left">
                        <p>
                        Die Kosten pro Monat sind der 12. Teil des Jahresbetrages, der sich bei 39 Gitarrenunterrichtsstunden ergibt. Von den 52 Kalenderwochen sind 13 Wochen Schulferien also abgezogen, da dann auch kein Unterricht stattfindet.<br>Zum Beispiel 30 Min. Einzelunterricht:<br>
                        </p>

                        <p>
                        <b>19,00 Euro; Einzelpreis * 39 Unterrichtseinheiten / 12 Monate = 62 Euro</b>
                        </p>

                        <ul style="padding-left: 20px;">
                            <li>Wird der Gitarrenunterricht im laufenden Unterrichtsjahr beendet, so erstelle ich eine Endabrechnung, in der die eingezahlten Monatsbeträge und die erteilten Stunden gegengerechnet werden.</li>
                            <li>An Brücken- und gesetzlichen Feiertagen findet kein Unterricht statt, ohne dass es Einfluss auf das zu zahlende Honorar hat.</li>
                            <li>Nach Ablauf der Probephase (ca. 4-6 Wochen), beträgt die Kündigungszeit 1 Monat zum Monatsende.</li>
                            <li>Es müssen <b>keine</b> 1/2 Jahres- oder Ganzjahresverträge abgeschlossen werden.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<br>
<h1 style="text-align: center"><a href="#kontakt">Zum Kennenlerntermin</a></h1>
