<div id="jumbotron-location" class="jumbotron">
    <div>
        <h2>Location</h2>
    </div>
</div>

<div class="text-left">
    <div class="row">
        <div class="col-md-6">
            <br>
            <h2>Unterrichtsort</h2>
            <p>Der Unterrichtsort befindet sich in einer ruhigen Seitenstraße unweit der U-Bahn Osterstraße (Karte unter <a href="#kontakt">Kontakt</a>).</p>
        </div>
        <div class="col-md-6">
            <div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
                <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                    <a href="./assets/images/location/haus_aussen_m.jpg" itemprop="contentUrl" data-size="1400x1965">
                        <img src="./assets/images/location/haus_aussen.jpg" itemprop="thumbnail" alt="Außenansicht der Unterrichtsräume von Gitarrenlehrer Bernhard Welling in Eimsbüttel nahe der Osterstraße" />
                    </a>
                </figure>
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>

    <hr class="line-splitter">

    <div class="row">
        <div class="col-md-6">
            <div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
                <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                    <a href="./assets/images/gallery_main/MG_4179_m.jpg" itemprop="contentUrl" data-size="1920x1280">
                        <img src="./assets/images/gallery_main/3.jpg" itemprop="thumbnail" alt="Einblick in die Unterrichtsräume und das schalldichte Tonstudio von Gitarrenlehrer Bernhard Welling in Eimsbüttel" />
                    </a>
                </figure>
            </div>
            <div style="clear: both;"></div>
        </div>
        <div class="col-md-6">
            <br>
            <h2>Schalldichtes Tonstudio</h2>
            <p>Die hellen und hohen Räume eines Hauses, das um das Jahr 1910 erbaut wurde, laden dazu ein, in gemütlicher Atmosphäre zu musizieren. Der Unterrichtsraum ist mittels einer aufwändigen Raum-in-Raum-Lösung schallisoliert. Man kann also in die Saiten greifen, ohne Nachbarn zu stören, oder gestört zu werden.</p>
        </div>
    </div>
</div>
