<div id="jumbotron-location" class="jumbotron">
    <div class="container">
        <h1>Location</h1>
        <!--<h2>Gemütlicher Unterrichtsraum in Hamburg Eimsbüttel</h2>-->
    </div>
</div>

<div class="container text-left">
    <div class="row">
        <div class="col-md-6">
            <br>
            <h2>Location</h2>
            <p>Der Unterrichtsort befindet sich in einer ruhigen Seitenstraße unweit der U-Bahn Osterstraße (Karte unter <a href="kontakt.html#gmapsElement">Kontakt</a>).</p>
        </div>
        <div class="col-md-6">
            <img class="full_width" src="assets/images/location/haus_aussen.jpg">
        </div>
    </div>

    <hr class="line-splitter">

    <div class="row">
        <div class="col-md-6">
            <img class="full_width" src="assets/images/gallery_main/3.png">
        </div>
        <div class="col-md-6">
            <br>
            <h2>Schalldichtes Tonstudio</h2>
            <p>Die hellen und hohen Räume eines Hauses, das um das Jahr 1910 erbaut wurde, laden dazu ein, in gemütlicher Atmosphäre zu musizieren. Der Unterrichtsraum ist mittels einer aufwändigen Raum-in-Raum-Lösung schallisoliert. Man kann also in die Saiten greifen, ohne Nachbarn zu stören, oder gestört zu werden.</p>
        </div>
    </div>
    

</div>
