<div id="jumbotron-person" class="jumbotron">
  <div class="container">
      <h1>Zur Person</h1>
      <!--<h2>Professioneller Gitarrenunterricht von studiertem Gitarrenlehrer</h2>-->
  </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="lebenslauf">
                <h2>Zur Person</h2>
                <br>
                <table class="text-left">
                    <colgroup>
                        <col width="auto">
                        <col width="auto">
                    </colgroup>
                    <tr>
                        <td >1951</td>
                        <td>Geboren in Hamburg</td>
                    </tr>
                    <tr><td>&nbsp;</td><td></td></tr>
                    <tr>
                        <td>1968</td>
                        <td>Realschulabschluss</td>
                    </tr>
                    <tr>
                        <td>1971</td>
                        <td>Gesellenbrief als Rundfunk- und Fernsehtechniker</td>
                    </tr>
                    <tr>
                        <td>1972</td>
                        <td>Fachabitur für Elektrotechnik</td>
                    </tr>
                    <tr>
                        <td style="padding-right: 10px;">1972-1976</td>
                        <td>Wirtschaftsabitur</td>
                    </tr>
                    <tr><td>&nbsp;</td><td></td></tr>
                    <tr>
                        <td>1976</td>
                        <td>Beginn des Studiums an der <b>Hochschule für Musik und Theater Hamburg</b>.<br>Zunächst für das Lehramt an Gymnasien mit Schwerpunkt Gitarre.
                            Später dann Wechsel, zum Diplom Gitarrenlehrer.</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <br>
                            Thema der Diplom-Arbeit: <i>Krafttraining für die linke Hand des Gitarristen?</i>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <br>
                            <b>Qualifikation:</b>
                            <ul class="text-left lebenslauf-list">
                                <li>Gitarrenunterricht - bei Prof. Eike Funck, Wulfin Lieske</li>
                                <li>Instrumentalspiel Klavier - bei Prof. Elgin Roth</li>
                                <li>Gesang - bei Prof. Claus Ocker</li>
                                <li>Chorleitung</li>
                                <li>Orchesterleitung</li>
                                <li>Musiktheorie / Gehörbildung</li>
                                <li>Pädagogik / Methodik / Didaktik<br/><br/></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Seit 1995</td>
                        <td>Gitarrenunterricht in Hamburg Eimsbüttel</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <img class="full_width" src="assets/images/person/person_art.jpg">
        </div>
    </div>
</div>
