<div id="jumbotron-technik" class="jumbotron">
    <div>
        <h2>Technik</h2>
    </div>
</div>

<div class="text-left">
    <div class="row">
        <div class="col-md-6">
            <br>
            <p>Die Technik dient unter anderem dazu, die Musikinhalte des Gitarrenunterrichts an das Spielvermögen des Schülers anzupassen. 
                Dafür ist ein Wave-Editor vorhanden, mit dem Audioschleifen in verschiedenen Geschwindigkeiten und (wenn nötig) in unterschiedlichen Tonhöhen erzeugt werden können. So kann der Schüler mitspielend üben.
                </p>
        </div>
        <div class="col-md-6">
            <div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
                <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                    <a href="./assets/images/technik/technik_m.jpg" itemprop="contentUrl" data-size="1920x1280">
                        <img src="./assets/images/technik/technik.jpg" itemprop="thumbnail" alt="Professionelles technisches Equipment bei Gitarrenlehrer Bernhard Welling in Eimsbüttel" />
                    </a>
                </figure>
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>
</div>

<hr class="line-splitter">

<div class="my-gallery gallery_row" itemscope itemtype="http://schema.org/ImageGallery">
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="./assets/images/technik/Cubase_fuer_Gitarrenunterricht_m.jpg" itemprop="contentUrl" data-size="1438x959">
            <img src="./assets/images/technik/Cubase_fuer_Gitarrenunterricht.jpg" itemprop="thumbnail" alt="Cubase Logo" />
        </a>
        <figcaption itemprop="caption description">Für Aufnahmen steht das Sequenzerprogramm Cubase mit diversen Plugins zur Verfügung.</figcaption>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="./assets/images/technik/MG_4199_m.jpg" itemprop="contentUrl" data-size="1920x1280">
            <img src="./assets/images/technik/2.jpg" itemprop="thumbnail" alt="12 Kanal Mixer Signalansteuerung" />
        </a>
        <figcaption itemprop="caption description">Ein 12 Kanal Mixer sorgt für die richtige Signalansteuerung.</figcaption>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="./assets/images/technik/MG_4205_m.jpg" itemprop="contentUrl" data-size="1920x1280">
            <img src="./assets/images/technik/3.jpg" itemprop="thumbnail" alt="Membranmikrofon in Nahaufnahme" />
        </a>
        <figcaption itemprop="caption description">Diverse Groß- und Kleinmembranmikrofone sind zum Abnehmen des Gitarrensounds oder der Gesangsstimme bereit.</figcaption>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="./assets/images/technik/MG_4209_m.jpg" itemprop="contentUrl" data-size="1000x1500">
            <img src="./assets/images/technik/4.jpg" itemprop="thumbnail" alt="Ein E-Piano zum Einspielen von Midi-Noten" />
        </a>
        <figcaption itemprop="caption description">Ein E-Piano zum Einspielen von Midi-Noten, zum Erklären der Musiktheorie oder einfach zum Bespielen ist vorhanden.</figcaption>
    </figure>
</div>
<div style="clear: both;"></div>
