<!DOCTYPE html>
<html>
<head>
    <base href="./" />

    <title>{{page.title}} | GitarrenunterrichtInEimsbuettel</title>

    <meta charset="utf-8">
    <meta http-equiv="language" content="de">
    <meta name="Description" content="{{page.content_description}}">
    <meta name="robots" content="{{page.robot_tags}}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="shortcut icon" href="assets/icon.ico" />

    <!-- Stylesheets -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" integrity="sha256-PZLhE6wwMbg4AB3d35ZdBF9HD/dI/y4RazA3iRDurss=" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/pgwslider.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/combine/npm/pgwslideshow@2.0.0/pgwslideshow.min.css,npm/pgwslideshow@2.0.0/pgwslideshow_light.min.css" />
    
    <link rel="stylesheet" href="css/navbar.css" />
    <link rel="stylesheet" href="css/style.css" />

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Oxygen:300,400,700|Rubik:300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <!-- <img src="/assets/icon.ico" width="30" height="30" class="d-inline-block align-top" alt=""> -->
                    <b>Bernhard Welling</b>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="location.html">Location</a></li>
                    <li><a href="unterricht.html">Unterricht</a></li>
                    <li><a href="technik.html">Technik</a></li>
                    <li><a href="kosten.html">Kosten</a></li>
                    <li><a href="person.html">Zur Person</a></li>
                    <li><a href="kontakt.html">Kontakt</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">       
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>


    <article>
        {{ content }}
    </article>

    <footer>
        <div class="container">
            <p>©2017 Bernhard Welling · <a href="impressum.html">Impressum</a> · <a href="kontakt.html">Kontakt</a></p>
        </div>
    </footer>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="js/pgwslider.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/pgwslideshow@2.0.0/pgwslideshow.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js" integrity="sha256-P93G0oq6PBPWTP1IR8Mz/0jHHUpaWL0aBJTKauisG7Q=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/pagescript.js"></script>

</body>
</html>
